/* Grey colors from Dark to light
#38393B
#5C5E61
#74767B
#808288
#BCBFC7
 */

#brand{
    margin: 0;
    padding-top: 25px;
    padding-left: 30px;
    font-family: 'Kumar One', cursive;
    font-size: 50px ;
    text-decoration: #5C5E61;
}

/* TODO fixing footer */

.push{
    height: 155px;

}

.footer
{
    margin: 0 auto;
    height: 30px;
    width: 100%;
    background-color: #BCBFC7;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    text-align: center;
}